<div class="border bg-light mt-3 col-sm-12 d-flex flex-column align-items-center">
  <h3 class = "my-3">You have successfully Signed Up</h3>
  <%= link_to 'Login', sessions_new_path, class: 'btn btn-success'%>
</div>